body {
    max-width: 1200px;  
    margin: 0 auto;     
    padding: 20px;      
    box-sizing: border-box; 
}


img {
    padding-left: 100px;
}

.material-symbols-outlined {
    margin-left: 950px;
    padding-top: 20px;
  }