body {
    max-width: 1200px;
    margin: 0 auto;     
    padding: 20px;      
    box-sizing: border-box; 
}

img {
    padding-left: 20px;
}


.material-symbols-outlined {
    margin-left: 650px;
    padding-top: 20px;
  }